body{
  margin: 0px;
  padding: 0px;
  font-family: 'Work Sans', sans-serif;

}

.container-fluid{
  height: 100%;
  padding: 1%;
}


/* Log in */
.logo{
  width: 43vw;
  height: 13vh;
  display: inline-block;
}
.form-group > button{
  margin:2%;
}




/* Newsfeeds */
/*header */
.header,
.nav-profile{
background-color: #ffc107;
box-shadow: 5px 5px #ede8e8;
margin-bottom: 2%;
}
.historys {
  margin-top: 5vh;
}
.historys > img {
  width: 13vw;
  height: 16vh;
  border-radius: 60%;
  margin-left: 2vw;
}
.left{
  position: relative;
  left: 5vw;
}
/* vertical nav*/
.vertical-nav {
  border: solid 3px #bfbfbf;
  height: 140vh;
  background-color: #e0e0e0;
  padding: 5%;
  top: 5vh;
  box-shadow: 5px 5px #ede8e8;
  border-radius: 2vh;
}
i{
  color: #707070;
}
.vertical-nav >ul >li {
  list-style: none;
}
/* Horizontal nav*/
.horizontal-nav {
  height: 20vh;
  background-color: #e0e0e0;
  border: solid 3px #bfbfbf;
  border-radius: 2vh;
  padding: 1vw;
  font-size: 4vh;
}
h6{
  font-size: 3vh;
}
/*News-post*/
.comment-box,
.comments-box,
.commentt-box{
  border: solid 6px #ede8e8;
  margin: 5%;
  padding: 5%;
  text-align: justify;
  border-radius: 2vh;
}
.comment-box > input {
  width: 50%;
}
.comment-picture,
.comments-picture {
  width: 12vw;
  height: 15vh;
  border-radius: 50%;
  margin-right: 3%;
}
h3 {
  display: inline-block;
  color: #000;
}
.comment-icons,
.comments-icons{
background-color: #ede8e8;
padding: 2%;
border-radius: 2vh;
margin-left: 2%;
}
.post-icons > i,
.photo-icons > i{
  margin: 3%;
}


/*Profile*/
/*nav*/
.nav-profile{
margin: 2%;
}
.profile-nav{
  display: inline-block;
  position: relative;
  margin-left: 6%;
}
.profile-nav > a{
  font-size: 4vh;
  color: #000;
}
/*User information*/
.profile-information {
  height: 35vh;
}
.profile-picture  > img {
  width: 30vw;
  height: 30vh;
}
.prof-hor-nav{
  height: 10vh;
  background-color: #e0e0e0;
  border: solid 3px #bfbfbf;
  border-radius: 2vh;
  margin-bottom: 2%;
}
.prof-hor-nav > h4 {
  font-size: 3vh;
  text-align: center;
}
/*Agregar posts*/
.new-posts{
  position: relative;
  border: solid 1px #000;
  padding: 3%;
  margin: 7% 0% 0% 0%;
}
/*new post*/
.comment-picture{
  width: 20vw;
  height: 20vh;
}
.comments-picture {
  width: 15vw;
  height: 15vh;
}
.comment-box,
.comments-box{
  border: solid 1px #000;
}


/*Friends and photos*/
.friends-nav{
  margin-top: 5vh;
}
.friends-nav > a,
.photos-nav > a {
  color: #000;
  font-size: 5vh;
}
.friends-box > h2,
.photos-box > h2{
margin-left: 2%;
background-color: #ffc107;
padding: 3%;
font-weight: 700;
border-radius: 2vh;
}
.friend,
.photo {
  border: solid 1px #000;
  margin: 4%;
  padding-top: 2%;
  text-align: center;
}
.friend > img,
.photo > img {
  width: 20vw;
  height: 20vh;
}
