body{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;

}

.container-fluid{
  height: 100%;
  padding: 1%;
}


/* Log in */
.logo{
  display: inline-block;
}
form {
  margin: 1%;
  font-size: 2vh;
}
.form-group > h4 {
  font-size: 2vh;
}

.form-control{
padding: 4%;
font-size: 2vh;
}
.form-group > button{
  margin:2%;
  font-size: 2vh;
}




/* Newsfeeds */
/*header */
.header,
.nav-profile{
background-color: #ffc107;
box-shadow: 5px 5px #ede8e8;
margin-bottom: 2%;
}
.historys {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.historys > img {
  width: 15%;
  height: 30%;
  border-radius: 50%;
  display: inline;
}
.left{
  position: relative;
  left: 7vw;
  margin-left: 2vw;
}
/* vertical nav*/
.vertical-nav {
  border: solid 3px #bfbfbf;
  height: 140vh;
  background-color: #e0e0e0;
  padding: 5%;
  top: 5vh;
  box-shadow: 5px 5px #ede8e8;
  border-radius: 2v;
  font-size: 2vh;
  margin-top: 3%;
}

i{
  color: #707070;
}
a{
  color: #000
}


/* Horizontal nav*/
.horizontal-nav {
  background-color: #e0e0e0;
  border: solid 3px #bfbfbf;
  border-radius: 2vh;
  padding: 1vw;
  font-size: 2vh;
}

/*News-post*/
.comment-box,
.comments-box,
.commentt-box{
  border: solid 6px #ede8e8;
  margin: 5%;
  padding: 5%;
  text-align: justify;
  border-radius: 2vh;
}
.comment-box > input {
  width: 50%;
}
.comment-picture,
.comments-picture {
  margin-right: 3%;
  display: inline;
  width: 20%;
  border-radius: 50%;
}
.comment-picture > img,
.comments-picture > img{
  border-radius: 50%;
  width: 30%;
}


h3 {
  display: inline-block;
  color: #000;
}
.comment-icons,
.comments-icons{
background-color: #ede8e8;
padding: 2%;
border-radius: 2vh;
margin-left: 2%;
}
.post-icons > i,
.photo-icons > i{
  margin: 3%;
}


/*Profile*/
/*nav*/
.nav-profile{
margin: 2%;
}
.profile-nav{
  display: inline-block;
  position: relative;
  margin-left: 6%;
}
.profile-nav > a{
  font-size: 3vh;
  color: #000;
  font-weight: 700;
}
/*User information*/
.profile-picture > div > img {
  width: 85%;
}
.prof-hor-nav{
  background-color: #e0e0e0;
  border: solid 3px #bfbfbf;
  border-radius: 2vh;
  margin-bottom: 2%;
}
.prof-hor-nav > h4 {
  text-align: center;
}


/*Agregar posts*/
.new-posts{
  position: relative;
  border: solid 1px #000;
  padding: 3%;
  margin: 7% 0% 0% 0%;
}
/*new post*/
.comment-box,
.comments-box{
  border: solid 6px #ede8e8;
}


/*Friends and photos*/

.friends-nav > a,
.photos-nav > a {
  color: #000;
  font-size: 3vh;
  font-weight: 700;
}
.friends-box > h2,
.photos-box > h2{
margin-left: 2%;
background-color: #ffc107;
padding: 3%;
font-weight: 700;
border-radius: 2vh;
}
.friend,
.photo {
  width: 23%;
  height: 23%;
  border: solid 1px #000;
  margin: 4%;
  padding-top: 2%;
  text-align: center;
}
.friend > img,
.photo > img {
  width: 80%;
  height: 80%;
}
