<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Metaviewport-->
    <meta name="viewport" content="">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="./../css/main.css">
    <title> RedLaboratorians </title>
  </head>
  <body>
<section class="container-fluid">
<!-- Newsfeed-->
  <div class="newsfeed" id="newsfeed">
    <!-- header-->
    <header class="header">
      <div class="newsfeed-logo logo col-xs-offset-3">
        <img src="./../assets/images/logo.png" alt="" class="logo">
      </div>
    </header>
    <!-- Historys-->
    <div class="historys">
      <img src="./../assets/images/my-profile.jpg" alt="" class="">
      <img src="./../assets/images/history1.jpg" alt="" class=" left">
      <img src="./../assets/images/history2.jpg" alt="" class=" left">
      <img src="./../assets/images/history3.jpg" alt="" class=" left">
      <img src="./../assets/images/history4.jpg" alt="" class=" left">
      <img src="./../assets/images/history5.jpg" alt="" class=" left">
    </div>
      <hr>
    <!--Nav Vertical-->
    <div class="row  col-xs-3">
      <div class="vertical-nav">
        <h6><a href="profile.html"><i class="fa fa-user"></i></a><strong> Paola Torres</strong></h6>
        <h6><i class="fa fa-comment"></i> Chat</h6>
        <h6><a href="./friends.html"><i class="fa fa-child"></i></a> AmigxsLab</h6>
        <br>
        <h6><strong>Acceso directo</strong></h6>
          <h6><i class="fa fa-laptop"></i> Art Bots </h6>
          <h6><i class="fa fa-book"></i> Repaso JS </h6>
          <h6><i class="fa fa-desktop"></i> Tlacu</h6>
        <br>
          <h6><i class="fa fa-calendar"></i> Eventos</h6>
          <h6><i class="fa fa-users"></i>  Grupos</h6>
          <h6><i class="fa fa-paper-plane-o "></i>  Páginas</h6>
        <br>
        <h6><a href="./../index.html">Cerrar sesión</a></h6>
      </div>
    </div>
    <!-- Nav horizontal y Friend´s post-->
    <div class="row ">
      <div class="col-xs-9">
        <!-- Nav horizontal-->
        <form>
          <div class="horizontal-nav">
            <label class="col-xs-9">Agregar publicación</label>
            <input id="new-comment" type="text" class="form-control col-xs-11" placeholder="Agregar comentario">
            <button id="add-comment" type="submit" class="btn btn-default">Agregar</button>
          </div>
        </form>

      <!-- Friend´s Posts-->
        <div class="row">
          <div class="col-xs-12">
            <div id="new-posts">
              <div class="commentt-box">
                <img src="./../assets/images/history4.jpg" class="comment-picture">
                <h3><strong><a href="./friend1.html">Bárbara Estrada</a></strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <!-- Add comment to Friend´s Posts-->
                <div class="commentt-box">
                  <label class="col-xs-9">Agregar comentario</label>
                  <input class="comment-input" type="text" name="" value="" placeholder="comentario">
                  <i class="fa fa-heart comment-icons"></i>
                  <button id="comment-add" class="btn btn-default" type="submit">Agregar</button>
                </div>
              </div>
              <div class="commentt-box">
                <img src="./../assets/images/history2.jpg" class="comment-picture">
                <h3><strong><a href="./friend2.html">Luisa Morales</a></strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <!-- Add comment to Friend´s Posts-->
                <div class="commentt-box">
                  <label class="col-xs-9">Agregar comentario</label>
                  <input class="comment-input" type="text" name="" value="" placeholder="comentario">
                  <i class="fa fa-heart comment-icons"></i>
                  <button id="comment-add" class="btn btn-default" type="submit">Agregar</button>
                </div>
              </div>
              <div class="commentt-box">
                <img src="./../assets/images/history3.jpg" class="comment-picture">
                <h3><strong><a href="./friend3.html">Beatriz Nuñó</a></strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <!-- Add comment to Friend´s Posts-->
                <div class="commentt-box">
                  <label class="col-xs-9">Agregar comentario</label>
                  <input class="comment-input" type="text" name="" value="" placeholder="comentario">
                  <i class="fa fa-heart comment-icons"></i>
                  <button id="comment-add" class="btn btn-default" type="submit">Agregar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



      <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
      <!-- Jquery -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./../js/app.js"></script>
  </body>
</html>
